name: Build
on: 
  workflow_dispatch:
  push:
    tags:
      - '**'
    branches:
      - "**"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/restic-backupclient

jobs:
  test-mariadb:
    name: MariaDB Integrationtest
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Run MariaDB Test
        run: |
          chmod +x test/test_mariadb.sh
          test/test_mariadb.sh

  test-postgres17:
    name: Postgres17 Integrationtest
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Run Postgres17 Test
        run: |
          chmod +x test/test_postgres.sh
          test/test_postgres.sh

  build:
    name: build and push
    runs-on: ubuntu-latest
    needs: 
      - test-mariadb
      - test-postgres17
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
